<header>
    <nav>
      <img src="../../../assets/imagenes/logoo.png" alt="logo" style="height: 70px;">
      <ul>
        <li><button (click)="Personajes()" routerLinkActive="active-link" type="button" class="btn btn-lg ">Personajes</button></li>
        <li><button (click)="Locaciones()" routerLinkActive="active-link" type="button" class="btn btn-lg ">Locaciones</button></li>
        <li><button (click)="Episodios()" routerLinkActive="active-link" type="button" class="btn btn-lg ">Episodios</button></li>
       </ul>
    </nav>
  </header>