<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rickandmorty</title>
  <link rel="stylesheet" href="../personajes/personajes.component.css">
</head>
<body>
  
  <div>
    <app-header></app-header>
  
  </div>
    <b><h1 class="titulo">The Rick and Morty API
    </h1></b>
    <h2>Personajes</h2>
  <br><br>
  <div style="background-color: rgb(39, 43, 51); display: flex;">
    
    <div class="container">
        
      <app-form-search></app-form-search>
        <br>
        <br>
            <app-personajes-list></app-personajes-list>      
        <br>
        <br>
        <br>
    </div>
  </div>
  <app-footer></app-footer>
</body>

